.amount_tags {
  // border: 1px solid lightgrey;
  width: 35em;
  height: 48em;
  padding: 3em;
  color: rgba(40,40,40,1);
  position: relative;
  // box-shadow: 1px 2px 2px lightgrey;
  // border-radius: 5px;

  p {
    font-size: 20px;
    font-weight: bold;
  }
}

.amount_month_tags {
  display: none;
}

.amount_month_tags_details_card {
  border: 1px solid lightgrey;
  width: 25em;
  height: 40em;
  height: auto;
  padding: 3em;
  color: rgba(40,40,40,1);
  position: relative;
  // box-shadow: 1px 2px 2px lightgrey;
  border-radius: 5px;
}