<%= render 'shared/banner' %>

<div class="container">

  <% if user_signed_in? %>
    <h3 class="text-center">Somme actuel disponible sur vos comptes: <%= @accounts.sum(&:fund) %>€</h3>
  <% end %>

  <%= render 'shared/card' %>

</div>
