<%= @account.name %>

<p><%= link_to 'Editer votre compte', edit_account_path %></p>
<p><%= link_to 'Supprimer le compte', account_path(@account), method: 'delete' %></p>

<p><%= link_to 'Ajouter une transaction', new_account_transaction_path(@account) %></p>
